@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap') html,
body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*Color*/

.white-text {
    color: #ffffff;
}

.white-on-hover:hover {
    color: #ffffff;
}

.pecock-green-text {
    color: #77AEA8;
}

.slight-gray-text {
    color: #F0F0F0;
}

.slight-gray-third-text {
    color: #E6E6E6;
}

.slight-gray-first-text {
    color: #B8B8B8;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

.slight-gray-first-text:hover {
    color: #ffffff;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

.red-text {
    color: #F36158;
}

.blue-text {
    color: #666AD9;
}

.yellow-text {
    color: #FBBE20;
}

.dark-gray-text {
    color: #707070;
}

.light-gray-text {
    color: #9D9D9D;
}

.black-text {
    color: #252525;
}

/*Color style end*/

/*background color*/

.bg-transperent {
    background: transparent !important;
}

.black-bg {
    background: #252525;
}

.light-black-bg {
    background: #3C3C3C;
}

.light-gray-bg {
    background: #9D9D9D;
}

.dark-gray-bg {
    background: #707070;
}

.off-white-bg {
    background: #F5F5F5;
}

.hvr-sweep-to-right {
    overflow: hidden;
}

.peacock-green-gradient.hvr-sweep-to-right:before {
    border-color: transparent;
    border-radius: 20px;
    background: #77aea8;
    background: -webkit-gradient(linear, left top, right top, from(#77aea8), to(#575aaf));
    background: linear-gradient(90deg, #77aea8 0%, #575aaf 100%);
}

/*background style end*/

.fa.fa-spinner {
    font-size: 12px;
}

.container-space {
    padding: 0 22px;
}

.error-content-text {
    font-size: 22px;
    line-height: 26px;
}

/*Container stylling end*/

/*section spacing*/

.top-space {
    margin-top: 86px;
}

.page-descriptor-section {
    padding: 120px 0;
}

.card-header h2 {
    cursor: pointer;
}

.stroke-heading {
    font-family: "Manrope", sans-serif;
    font-size: 60px;
    line-height: 58px;
    color: #E6E6E6;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}

.rebel-descriptor-wrapper {
    width: 265px;
}

.descriptor-content {
    font-size: 16px;
    padding: 14px 0;
    font-weight: 500;
}

.section-heading {
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    font-size: 22px;
    line-height: 26px;
}

.transperent-btn {
    font-size: 12px;
    padding: 6px 15px;
    border: 1px solid;
    border-radius: 20px;
    border-color: inherit;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.transperent-btn:hover {
    color: #ffffff;
    border-color: transparent;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.transperent-btn.red-text:hover {
    background: #F36158;
}

.transperent-btn.slight-gray-text:hover {
    background: #F0F0F0;
    color: #707070;
}

.hover-swipe-out {
    -webkit-transition: background 0.6s linear;
    transition: background 0.6s linear;
    background: transparent;
}

.hover-swipe-out:hover {
    background: -webkit-gradient(linear, left top, right top, from(#575aaf), to(#77aea8));
    background: linear-gradient(to right, #575aaf, #77aea8);
    color: #252525;
    -webkit-transition: 0.6s linear;
    transition: 0.6s linear;
    border-color: transparent;
}

.subscribe-btn-gradient.hvr-sweep-to-right:before {
    background: linear-gradient(45deg, #E4E4E4, transparent);
}

.subscribe-btn-gradient.hvr-sweep-to-right:hover {
    color: #3C3C3C;
    background: linear-gradient(45deg, #E4E4E4, transparent);
    border-color: transparent;
}

.smooth-transition {
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

/*Section stylling end*/

/*Button stylling*/

button:focus {
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

a:focus,
.btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

a:hover {
    text-decoration: none;
}

input:focus {
    outline: 0;
}

.transperent-input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    padding: 6px 10px;
}

.transperent-input::-webkit-input-placeholder {
    font-size: 12px;
    color: #707070;
}

.transperent-input::-moz-placeholder {
    font-size: 12px;
    color: #707070;
}

.transperent-input::-ms-input-placeholder {
    font-size: 12px;
    color: #707070;
}

.transperent-input::placeholder {
    font-size: 12px;
    color: #707070;
}

.topic-small-btn {
    font-size: 10px;
    padding: 3px 15px;
    color: white;
    display: inline;
    border-radius: 20px;
    background: #888888;
}

.topic-small-btn:hover {
    color: #ffffff;
}

.white-on-hover:hover {
    color: #ffffff;
}

/*Button stylling end*/

/*Font stylling*/

.font-12 {
    font-size: 12px;
    line-height: 18px;
}

.font-14 {
    font-size: 14px;
    line-height: 18px;
}

.regular-family {
    font-family: "Manrope", sans-serif;
}

.bold-family {
    font-family: "Manrope", sans-serif !important;
}

.extra-bold-family {
    font-family: "Manrope", sans-serif;
}

.bt-bold-family {
    font-family: "Manrope", sans-serif;
}

.line-height-20 {
    line-height: 20px;
}

.flex-50 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

/*slick stylling*/

.slick-dots {
    bottom: -30px;
}

.slick-dots li button:before {
    font-size: 8px;
    color: #707070;
}

.slick-dots li.slick-active button:before {
    font-size: 12px;
    color: #F0F0F0;
}

.slick-arrow.fa {
    font-size: 28px;
    position: absolute;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

.slide-to-right {
    left: -40px;
}

.slide-to-left {
    top: 0;
    right: -40px;
}

/*slick stylling end*/

@media (min-width: 768px) {
    .container-space {
        padding: 0 !important;
    }
    /*.rebel-container{
		padding: 0 35px;
	}*/
    .rebel-descriptor-wrapper {
        width: 310px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-right: 90px;
        padding-left: 90px;
    }
    .top-space {
        margin-top: 106px;
    }
    .section-heading {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    .descriptor-content {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (min-width: 1200px) {
    .rebel-descriptor-wrapper {
        width: 470px;
    }
    .stroke-heading {
        font-size: 80px;
        line-height: 86px;
    }
    .descriptor-content {
        font-size: 28px;
        line-height: 36px;
    }
    .page-descriptor-section {
        padding: 110px 0 130px;
    }
}

/*.dynamic-slider-container {
    flex: 2;

    .dynamic-content-slider {
        overflow: hidden;
        position: relative;
    }
}

.dynamic-content-slider span {
    animation: topToBottom 8s linear infinite 0s;
    -ms-animation: topToBottom 8s linear infinite 0s;
    -webkit-animation: topToBottom 8s linear infinite 0s;
    opacity: 0;
    padding-left: 5px;
    overflow: hidden;
    position: absolute;
}
.dynamic-content-slider span:nth-child(2) {
    animation-delay: 2s;
    -ms-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.dynamic-content-slider span:nth-child(3) {
    animation-delay: 4s;
    -ms-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
.dynamic-content-slider span:nth-child(4) {
    animation-delay: 6s;
    -ms-animation-delay: 6s;
    -webkit-animation-delay: 6s;
}*/

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*topToBottom Animation*/

@-webkit-keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        /*-webkit-transform: translateY(-50px);*/
    }
    10% {
        opacity: 1;
        /*-webkit-transform: translateY(0px);*/
    }
    25% {
        opacity: 1;
        /*-webkit-transform: translateY(0px);*/
    }
    30% {
        opacity: 0;
        /*-webkit-transform: translateY(50px);*/
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*Zoom in animation*/

.zoom-in {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.zoom-in:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/*Pulse animation*/

.pulse:hover {
    cursor: pointer;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.yellow-on-hover:hover {
    color: #FBBE20;
}

.blue-green-hover:hover {
    color: #77AEA8;
}

.underline-border-on-hover:hover {
    text-decoration: underline;
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}

.underline:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    bottom: 0;
    background: #fd9665;
    height: 1px;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.yellow-text.underline:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    width: 0;
    bottom: 0;
    background: #FBBE20;
    height: 1px;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.rebel-navbar {
    padding: 20px 38px;
}

.rebel-navbar .nav-item {
    padding: 12px 22px;
}

.rebel-navbar .nav-link {
    padding: 10px;
    font-weight: 700;
}

.rebel-navbar .nav-link:hover {
    color: #ffffff;
}

.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bar {
    height: 3px;
    margin: 7px 0;
    width: 33px;
    background: white;
    border-radius: 18%;
}

.navbar-list-container {
    background-color: #3C3C3C;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}

.dismis-nav {
    margin: 6px 14px 0 0;
}

.dismis-nav .btn {
    padding: 25px 25px;
}

.navbar-accordion {
    padding: 65px 40px 0;
    height: 100vh;
}

.navbar-accordion .card {
    background: transparent;
}

.navbar-accordion .card-header {
    padding: 0 10px;
}

.navbar-accordion .card-heading {
    font-family: "Manrope", sans-serif;
    font-size: 22px;
    color: #F0F0F0;
    border-bottom: 1px solid #707070;
    padding: 12px 0;
    position: relative;
}

.navbar-accordion .card-heading:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #666AD9;
    height: 17px;
    width: 3px;
}

.navbar-accordion .topic-heading:after {
    background: #FBBE20;
}

.navbar-accordion .rebel-heading:after {
    background: #F36158;
}

.nav-item-body {
    padding: 15px 0;
}

.nav-item-body .nav-link {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    color: #F0F0F0;
    padding: 0 10px;
}

.nav-item-body .nav-item {
    padding: 8px 6px;
}

.rotate-arrow {
    position: absolute;
    right: 0;
}

.rotate-arrow .fa {
    font-size: 30px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}

.collapsing.navbar-list-container {
    height: 0;
}

.collapsed .rotate-arrow .fa {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
}

/*Navbar dropdown stylling start*/

.dropdown-list {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background: #3C3C3C;
    opacity: 0;
}

.navigation-topic-list {
    list-style-type: none;
    padding-left: 24px;
    display: none;
}

.small-list-container {
    padding: 0 34px;
}

.dropdown-nav-item {
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.dropdown-nav-link {
    padding: 10px 0;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.navbar-list-container .nav-link {
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.navbar-list-container .dropdown-nav-item:hover {
    background: #3C3C3C;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.navbar-list-container .dropdown-nav-item:hover .blue-txt {
    color: #666AD9;
}

.navbar-list-container .dropdown-nav-item:hover .yellow-txt {
    color: #FBBE20;
}

.navbar-list-container .dropdown-nav-item:hover .orange-txt {
    color: #FD9665;
}

.navbar-list-container .dropdown-nav-item:hover .white-text {
    color: #F0F0F0;
}

.navbar-list-container .dropdown-nav-item:hover .navigation-topic-list {
    display: block;
}

.navbar-list-container .dropdown-nav-item:hover .nav-link {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.navbar-list-container .dropdown-nav-item:hover .dropdown-list {
    opacity: 1;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.dropdown-nav-link:hover .white {
    color: #ffffff;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.dropdown-nav-link:hover .yellow {
    color: #FBBE20;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.dropdown-nav-link:hover .blue {
    color: #666AD9;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.dropdown-nav-link:hover .orange {
    color: #FD9665;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

/*Navbar dropdown stylling end*/

.bold-nav-item {
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.bold-nav-item:hover .red-txt {
    color: #F36158;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.desktop-nav-item:first-child {
    padding-top: 0;
}

@media (min-width: 1024px) {
    .navbar-list-container {
        background-color: #252525;
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media (min-width: 1200px) {
    .rebel-navbar .nav-item {
        padding: 12px 36px;
    }
}

.footer-section {
    padding: 30px 0;
}

.footer-section ::-webkit-input-placeholder {
    color: #F0F0F0;
}

.footer-section ::-moz-placeholder {
    color: #F0F0F0;
}

.footer-section ::-ms-input-placeholder {
    color: #F0F0F0;
}

.footer-section ::placeholder {
    color: #F0F0F0;
}

.footer-social-section {
    padding-bottom: 33px;
}

.fa {
    font-size: 24px;
    padding: 0 10px;
}

.social-link-container {
    padding: 35px 0 20px;
}

.footer-navigation-section {
    padding: 30px 0;
}

.fb-hover:hover {
    color: #3b5998;
}

.twitter-hover:hover {
    color: #00acee;
}

.insta-hover:hover {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whatsapp-hover:hover {
    color: #4fce5d;
}

.fb-hover:hover {
    color: #3b5998;
}

.twitter-hover:hover {
    color: #00acee;
}

.insta-hover:hover {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whatsapp-hover:hover {
    color: #4fce5d;
}

@media (min-width: 768px) {
    .fa {
        font-size: 18px;
    }
    .footer-top-section {
        padding: 72px 0 38px;
    }
    .footer-rebel-logo {
        width: 100px;
    }
    .flex-md-15 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
    }
    .flex-md-25 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }
    .privacy-policy-section {
        padding-bottom: 80px;
    }
}

@media (min-width: 1024px) {
    .footer-top-section {
        border-bottom: 1px solid #707070;
    }
    .flex-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
    }
    .flex-lg-100 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
    }
    .subscribe-wrapper {
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    .footer-section .font-12 {
        font-size: 14px;
    }
    .see-more-btn-container .btn {
        font-size: 24px;
    }
}

.rebel-descriptor-container span.descriptor-content {
    position: absolute;
    opacity: 0;
}

.fade-text-wrapper {
    width: 250px;
}

.featured-blog-section {
    padding: 20px 0 44px;
}

.fill-display {
    margin: 0 -15px;
}

.rebel-descriptor-wrapper .dynamic-slider-container {
    padding: 18px 0 80px;
}

.blog-image {
    /*background: url('../images/blog_image.png') center center no-repeat;*/
    height: 218px;
    /*background-size: cover;*/
}

.blog-heading {
    font-family: "Manrope", sans-serif;
    font-size: 22px;
    line-height: 26px;
}

.blog-content {
    font-size: 14px;
    line-height: 18px;
}

.subscribe-wrapper {
    padding: 50px 0;
}

.subscribe-section {
    padding: 20px 35px;
}

.subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-70 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
}

.flex-30 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
}

.most-readed-blogs {
    padding: 50px 0;
}

.most-read-blog-heading {
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
}

.most-read-blog-heading:hover {
    color: #77AEA8;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
}

.topic-btn {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
}

.topic-navigation .active,
.topic-navigation .topic-btn:hover {
    color: #FBBE20;
    /*text-decoration: underline;*/
    cursor: pointer;
    font-size: 18px;
    -webkit-transition: 0.25s linear;
    transition: 0.25s linear;
}

.see-more-btn-container {
    padding: 20px 0 58px;
}

.see-more-btn-container .btn {
    font-size: 18px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    position: relative;
}

.see-more-btn-container .btn:hover {
    color: #FBBE20;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}

.topic-container {
    padding-bottom: 30px;
}

.recent-topic-section .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.recent-topic-section .slick-arrow.fa {
    top: -2px;
}

.recent-topic-section .fa-angle-left {
    left: -25px;
}

.recent-topic-section .fa-angle-right {
    right: -25px;
}

.recent-topic-section .slick-arrow {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.recent-topic-section .slick-arrow:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.recent-topic-section .topic-list {
    margin-bottom: 20px;
}

.subscribe-wrapper .form-group {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .fill-display {
        margin: 0;
    }
    .rebel-descriptor-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .rebel-envelope {
        width: 190px;
    }
    /*.hidden-from-tab{
		display: none;
	}*/
    .recent-topic-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .topic-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        padding: 15px;
    }
    .recent-featured-blog {
        padding-bottom: 30px;
    }
    .recent-featured-blog .blog-heading {
        font-size: 28px;
        line-height: 34px;
    }
    .related-blog-img {
        height: 120px;
    }
    .most-read-blogs-container {
        background: #3C3C3C;
        padding: 10px 20px;
    }
    .read-blog {
        padding: 20px 0;
    }
    .subscribe-wrapper {
        padding: 30px 0 0;
    }
    .subscribe-section {
        padding: 20px 30px;
    }
    .see-more-btn-container .font-14 {
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width: 992px) and (min-width: 767px) {
    .related-blogs .blog-heading {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (min-width: 1024px) {
    .featured-blog-section {
        padding: 60px 0 80px;
    }
    .featured-blog .blog-content {
        font-size: 16px;
        line-height: 24px;
    }
    .topic-btn {
        font-size: 22px;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    .topic-btn:hover,
    .topic-btn.active {
        font-size: 26px;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    .topic-navigation .topic-btn:hover {
        font-size: 26px;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear;
    }
    .topic-list {
        margin-bottom: 30px;
    }
    .rebel-envelope {
        width: 220px;
    }
    .blog-image {
        height: 280px;
    }
    .related-blog-img {
        height: 140px;
    }
    .most-read-blogs-container {
        height: calc(100% - 50px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .recent-topic-wrapper {
        padding: 30px 0;
    }
    .recent-topic-section .slick-arrow.fa {
        top: 4px;
    }
}

@media (min-width: 1200px) {
    .readed-blog {
        padding: 25px 0;
    }
    .most-readed-blogs-container {
        padding: 0 22px;
    }
    .featured-blog-section .subscribe-wrapper .form-group {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
    .featured-blog-section .subscribe-wrapper .section-heading {
        margin-bottom: 20px;
    }
    .featured-blog-section .subscribe-wrapper .text-right {
        -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
        flex: 0.5;
    }
    .rebel-envelope {
        width: 300px;
    }
}

.topic-detail-section .page-descriptor-section {
    padding: 74px 0 0;
}

.other-feature-topic .slick-list {
    margin: 0 -15px;
}

.nice-select.filter-topic {
    font-family: "Manrope", sans-serif;
    font-size: 22px;
    float: none;
    padding-left: 0;
    background: transparent;
    border: 0;
    width: 160px;
}

.nice-select.filter-topic li {
    padding: 4px 20px !important;
}

.nice-select.filter-topic:focus {
    outline: 0;
}

.nice-select.filter-topic .topic-filter-item {
    background: transparent;
    border: 0;
}

.nice-select.filter-topic:after {
    height: 9px;
    width: 9px;
    top: 46%;
}

.topic-listing-filter-topic .nice-select .list {
    background: #323232;
}

.topic-listing-filter-topic .nice-select.open .list {
    background: #323232;
    border-radius: 0;
    -webkit-transform: scale(1) translate(12px, -50px);
    transform: scale(1) translate(12px, -50px);
}

.topic-listing-filter-topic .nice-select .option.focus,
.topic-listing-filter-topic .nice-select .option.selected.focus,
.topic-listing-filter-topic .nice-select .option:hover {
    background-color: #282828;
}

.topic-listing-filter-topic .nice-select.filter-topic li {
    padding: 4px 22px !important;
}

@media (min-width: 768px) {
    .listing-featured-blog-img {
        height: 320px;
    }
    .other-feature-topic .blog-image {
        height: 130px;
    }
    .nice-select.filter-topic {
        width: 130px;
    }
    .topic-listing-filter-topic .nice-select.open .list {
        background: #323232;
        border-radius: 0;
        -webkit-transform: scale(1) translate(-22px, -50px);
        transform: scale(1) translate(-22px, -50px);
    }
}

@media (min-width: 1024px) {
    .topic-detail-section .page-descriptor-section {
        padding: 100px 0 0;
    }
}

@media (min-width: 1200px) {
    .listing-featured-blog-img {
        height: 420px;
    }
    .other-feature-topic .blog-image {
        height: 164px;
    }
}

.topic-detail-landing-section {
    /*background: url('../images/topic_detail_bg.png') center center no-repeat;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    position: relative;
}

.topic-blog-section {
    padding: 35px 0 55px;
}

.topic-detail-container {
    padding-bottom: 20px;
}

.topic-detail-container .author-name-anchor:hover {
    text-decoration: underline;
}

.topic-detail-container .topic-small-btn {
    color: #252525;
    background: #E6E6E6;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.topic-detail-container .topic-small-btn:hover {
    background: #ffffff;
    color: #252525;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.topic-date-author-container {
    padding: 22px 0 5px;
}

.topic-heading {
    font-family: "Manrope", sans-serif;
    font-size: 34px;
    line-height: 38px;
}

.share-icons-list .fa {
    font-size: 22px;
    padding: 0 8px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.share-icons-list .fa:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.topic-info {
    font-size: 14px;
}

.topic-color {
    color: #252525;
}

.author-name-anchor:hover {
    color: #252525;
}

.html-render {
    overflow: hidden;
}

.html-render p,
.html-render div,
.html-render span,
.html-render h1,
.html-render h2,
.html-render h3,
.html-render h4,
.html-render h5,
.html-render h6,
.html-render small,
.html-render strong,
.html-render b,
.html-render i,
.html-render em,
.html-render sub,
.html-render sup,
.html-render article,
.html-render a,
.html-render iframe,
.html-render ul,
.html-render li,
.html-render ol,
.html-render table,
.html-render td,
.html-render tr,
.html-render th,
.html-render font {
    font-family: "Manrope", sans-serif !important;
    font-size: 16px !important;
    line-height: 26px !important;
    max-width: 100% !important;
    color: #252525;
}

.html-render img {
    max-width: 100% !important;
}

.html-render table {
    overflow: hidden;
}

.font-12 p,
.font-12 div,
.font-12 span,
.font-12 h1,
.font-12 h2,
.font-12 h3,
.font-12 h4,
.font-12 h5,
.font-12 h6,
.font-12 small,
.font-12 strong,
.font-12 b,
.font-12 i,
.font-12 em,
.font-12 sub,
.font-12 sup,
.font-12 article,
.font-12 a,
.font-12 iframe,
.font-12 ul,
.font-12 li,
.font-12 ol,
.font-12 table,
.font-12 td,
.font-12 tr,
.font-12 th,
.font-12 font {
    font-family: "Manrope", sans-serif !important;
    font-size: 14px !important;
    line-height: 20px !important;
    max-width: 100% !important;
    color: #252525;
}

.user-comment-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.user-comment-wrapper .user-comment {
    width: 300px;
}

.comment-form-wrapper {
    padding-left: 30px;
    width: 290px;
}

.comment-section {
    padding: 40px 0 50px;
}

.post-btn {
    padding: 6px 35px;
}

.topic-related-container {
    padding: 80px 0 60px;
}

.topic-related-container .blog-heading {
    font-family: "Manrope", sans-serif;
}

.relate-topic-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.author-detail-container {
    padding: 60px 0 30px;
}

.author-detail-container .fa {
    color: #252525;
}

.author-detail-container .author-name {
    font-family: "Manrope", sans-serif;
}

.author-detail-container .author-image {
    width: 80px;
    border-radius: 50%;
}

.author-detail-container .author-content-container {
    position: relative;
    top: 0;
}

.topic-detail-related-blogs .container-space {
    padding: 0 35px;
}

@media (min-width: 768px) {
    .topic-color {
        color: #F0F0F0;
    }
    .author-name-anchor:hover {
        color: #F0F0F0;
    }
    .topic-date-author-container {
        padding: 0;
    }
    .topic-detail-landing-section:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
    .topic-landing-content {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-bottom: 30px;
    }
    .topic-title {
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
    .topic-detail-container {
        padding-bottom: 30px;
    }
    .topic-detail-container .topic-small-btn {
        color: white;
        background: rgba(255, 255, 255, 0.5);
    }
    .user-comment-wrapper .user-comment {
        width: 100%;
    }
    .author-detail-container .author-image {
        width: 105px;
    }
    .author-detail-container .font-12 {
        font-size: 14px;
        line-height: 22px;
    }
    .author-content-container {
        padding-left: 30px;
    }
    .comment-form-wrapper {
        width: 100%;
    }
    .social-media-container {
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) {
    .topic-detail-landing-section {
        height: 620px;
    }
    .topic-blog-section {
        padding: 90px 0 80px;
    }
    .topic-landing-content {
        width: 650px;
        padding-bottom: 50px;
    }
    .topic-title {
        -webkit-transform: translateY(370px);
        transform: translateY(370px);
    }
    .topic-heading {
        font-size: 50px;
        line-height: 56px;
    }
    .topic-info {
        font-size: 18px;
    }
    .social-media-container {
        position: -webkit-sticky;
        position: sticky;
        top: 122px;
    }
    .desktop-show .fa {
        font-size: 28px;
        padding: 0 12px;
    }
    .author-detail-container {
        padding: 100px 0 80px;
        width: 340px;
    }
    .author-detail-container .author-image {
        width: 232px;
    }
    .author-detail-container .author-name {
        font-size: 26px;
    }
    .comment-section {
        padding: 120px 0 50px;
    }
    .topic-related-container .blog-heading {
        font-size: 36px;
        line-height: 42px;
    }
    .topic-related-container .blog-content {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (min-width: 1200px) {
    .topic-detail-landing-section {
        height: 620px;
    }
    .topic-landing-content {
        width: 800px;
    }
    .topic-title {
        -webkit-transform: translateY(345px);
        transform: translateY(345px);
    }
    .topic-heading {
        font-size: 64px;
        line-height: 70px;
    }
}

.all-topic-container .stroke-heading {
    color: #252525;
    -webkit-text-stroke-width: 2px;
}

.all-topic-container .page-descriptor-section {
    padding: 130px 0 10px;
}

.all-topic-container .rebel-descriptor-wrapper {
    width: 100%;
}

.all-topic-section {
    padding-bottom: 80px;
}

.all-topic-section .card-header,
.all-topic-section .card-body {
    padding: 10px 22px;
}

.all-topic-section .rotate-arrow {
    right: auto;
}

.all-topic-section .topic-item {
    font-family: "Manrope", sans-serif;
    padding-bottom: 18px;
}

.all-topic-section .see-all {
    font-size: 14px;
}

.post-link:hover {
    color: #252525;
}

.topic-item {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.topic-accordion>.card {
    overflow: visible;
}

.zoom-in-hover {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.zoom-in-hover:hover {
    -webkit-transform: scale(1.05) translate(10px, 0px);
    transform: scale(1.05) translate(10px, 0px);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

@media (min-width: 425px) {
    .all-topic-container .rebel-descriptor-wrapper {
        width: 270px;
    }
}

@media (min-width: 1024px) {
    .all-topic-container .rebel-descriptor-wrapper {
        width: 340px;
    }
    .all-topic-container .see-all {
        font-size: 18px;
    }
    .all-topic-container .page-descriptor-section {
        padding: 120px 0 120px;
    }
    .all-topic-container .card-header,
    .all-topic-container .card-body {
        padding: 20px 22px;
    }
    .all-topic-container .topic-item {
        padding-bottom: 14px;
    }
    .topic-item {
        font-size: 24px;
        line-height: 32px;
    }
}

.author-details-wrapper {
    padding-top: 90px;
    padding-bottom: 66px;
}

.author-detail-text {
    font-size: 12px;
    line-height: 16px;
}

.author-designaton-container,
.author-detail-media,
.author-body-content {
    padding: 12px 0;
}

.author-related-topic {
    padding-bottom: 60px;
}

.author-related-topic-wrapper .related-topic-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
    /*padding-bottom: */
}

.author-body-content p,
.author-body-content div,
.author-body-content span,
.author-body-content h1,
.author-body-content h2,
.author-body-content h3,
.author-body-content h4,
.author-body-content h5,
.author-body-content h6,
.author-body-content small,
.author-body-content strong,
.author-body-content b,
.author-body-content i,
.author-body-content em,
.author-body-content sub,
.author-body-content sup,
.author-body-content article,
.author-body-content a,
.author-body-content iframe,
.author-body-content ul,
.author-body-content li,
.author-body-content ol,
.author-body-content table,
.author-body-content td,
.author-body-content tr,
.author-body-content th,
.author-body-content font {
    font-family: "Manrope", sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    max-width: 100% !important;
    color: #E6E6E6;
}

@media (min-width: 1024px) {
    .author-details-wrapper {
        padding-top: 121px;
        padding-bottom: 30px;
    }
    .author-related-topic {
        padding-bottom: 36px;
    }
    .author-detail-text {
        font-size: 20px;
        line-height: 26px;
    }
    .author-related-topic-wrapper .see-more-btn-container {
        padding: 60px 0 35px;
    }
    .author-body-content p,
    .author-body-content div,
    .author-body-content span,
    .author-body-content h1,
    .author-body-content h2,
    .author-body-content h3,
    .author-body-content h4,
    .author-body-content h5,
    .author-body-content h6,
    .author-body-content small,
    .author-body-content strong,
    .author-body-content b,
    .author-body-content i,
    .author-body-content em,
    .author-body-content sub,
    .author-body-content sup,
    .author-body-content article,
    .author-body-content a,
    .author-body-content iframe,
    .author-body-content ul,
    .author-body-content li,
    .author-body-content ol,
    .author-body-content table,
    .author-body-content td,
    .author-body-content tr,
    .author-body-content th,
    .author-body-content font {
        font-family: "Manrope", sans-serif !important;
        font-size: 20px !important;
        line-height: 26px !important;
    }
}